@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

:root{
    --very-dark-blue:  hsl(243, 87%, 12%);
    --desnaturated-blue:  hsl(238, 22%, 44%);
    --bright-blue:hsl(224, 93%, 58%) ;
    --moderate-cyan: hsl(170, 45%, 43%)
    ;
    --light-grayish-blue: hsl(240, 75%, 98%);
    --light-gray:hsl(0, 0%, 75%) ;
    --headings: 'Raleway', sans-serif; /*headings, call-to-actions, nav*/
    --body: 'Open Sans', sans-serif;
}

img{
    max-width: 100%;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: var(--body);
    font-size: 16px;
    color: var(--very-dark-blue);
}

/* header */

header{
    display: grid;
    grid-template-areas: 'logo nav' 'img img' 'content content';
    gap: 3.125rem;
    padding: 1.875rem;
}

header .logo{
    grid-area: logo;
}

header nav{
    grid-area: nav;
}

header ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    gap: 1.875rem;
}

header li{
    list-style-type: none;
}

 header a{
    text-decoration: none;
    color: var(--very-dark-blue);
}

.header-content{
    grid-area: content;
    text-align: center;
}

header h1{
    font-family: var(--headings);
}

header p{
    padding: 1.25rem;
}

.email{
    width: 100%;
    padding: 0.625rem;
    margin-bottom: 0.9375rem;
    border-radius: 0.1875rem;
    border: 0.0625rem solid var(--light-gray);
}

.button{
    width: 100%;
    padding: 0.75rem;
    border-radius: 0.1875rem;
    color: var(--light-grayish-blue);
    background-color: var(--bright-blue);
    border: none;
    cursor: pointer;
    
}

.button:hover{
    background-color: hsl(207, 91%, 69%); 
}

.header-img{
    grid-area: img;
    margin-top: 3.125rem;
}

/* main */

main{
    margin-top: 9.375rem;
    background-color: var(--light-grayish-blue);
    position: relative;
    line-height: 1.7rem;
}

section{
    padding: 0.625rem 1.875rem;
}

.background{
    width: 100%;
    height: 6.25rem;
    background: url(../images/bg-curve-mobile.svg) no-repeat center top;
    background-size: cover;
    position: absolute;
    top: -6.25rem;
}

/* main section img */

section.img{
    margin-bottom: 6.25rem;
}

/*  main section content */

section.content{
    text-align: center;
}

section.content h2{
    text-align: center;
    padding: 0.625rem 0rem;
    font-family: var(--headings);
}

section.content p{
    text-align: justify;
    padding: 0.3125rem 0rem;
}

.section-link{
    border-bottom: 0.125rem solid var(--moderate-cyan);
    display: inline-block;
}

.section-link a{
    text-decoration: none;
    color: var(--moderate-cyan);
    padding: 0.5rem ;
    display: inline-block;
}

.section-link img{
    width: 1.5625rem;
    vertical-align: middle;
}

/* main section card */

section.card{
    box-shadow: 0.125rem 0.125rem 0.4375rem rgba(0, 0, 0, 0.178);
    margin:  3.125rem 3.125rem;
    padding: 1.5625rem 1.875rem;
    border-radius: 0.3125rem;
    background-color: white;
}

blockquote{
    padding: 0.3125rem 0rem 1.25rem 0rem;
}

figure {
    display: flex;
    flex-direction: column;
    gap: 0.9375rem;
}

figure img{
    width: 3.125rem;
    border-radius: 50%;
    grid-area: img;
}

figcaption{
    display: grid;
    grid-template-areas: 'img name' 'img cargo';
    grid-template-columns: 4rem auto;
}

figcaption .name{
    font-weight: bolder;
    grid-area: name;
}

figcaption .cargo{
    font-size: .85rem;
    grid-area: cargo;
}

/* main section form */

.section-form{
    background-color: var(--desnaturated-blue);
    color: var(--light-grayish-blue);
    text-align: center;
    padding: 3.125rem 0rem;
}

.section-form h2, .section-form p{
    margin-bottom: 1.25rem;
}

.section-form form{
    padding: 0rem 3.125rem;
}

#email-main{
    margin-bottom: 0.5rem;
}

/* footer */

footer{
    background-color: var(--very-dark-blue);
    color: white;
    padding: 1.875rem;
    font-size: .8rem;
}

footer ul{
    list-style: none;
}

li.tel{
    list-style: inside url(../images/icon-phone.svg);
}

li.mail{
    list-style: inside url(../images/icon-email.svg);
}

address li{
    padding: 0.625rem 0.3125rem;
}

.footer-nav{
    padding: 1.25rem 0rem;
}

.footer-nav li{
    padding: 0.625rem 0rem;
}

footer a{
    text-decoration: none;
    color: var(--light-grayish-blue);
}

footer a:hover{
    color: var(--desnaturated-blue);
}

div.social{
    text-align: center;
}

div.social li{
    display: inline-block;
    margin: 0.3125rem;
}

div.social i{
    border: 0.0625rem solid var(--light-grayish-blue);
    border-radius: 50%;
}

div.social i:hover{
    border-color: var(--desnaturated-blue);
}

.fa-facebook-f{
    padding: 0.5rem 0.75rem;
}

.fa-twitter{
    padding: 0.5rem;
}

.fa-instagram{
    padding: 0.5rem 0.5625rem;
}

.attribution{
    text-align: center;
    padding: 1.25rem;
}

.attribution a{
    color: var(--moderate-cyan);
}

